@model IEnumerable<BananaStore.Models.OrderDetailsViewModel>

@{
    ViewData["Title"] = "Order Details";
}

<h1 class="text-center">Order Details</h1>

<div class="container">
    <div class="d-flex align-items-center flex-column justify-content-center">
        <div class="col-md-6 text-center"><strong class="text-warning">Customer Id : </strong>@Model.First().CustomerId</div>
        <div class="col-md-6 text-center"><strong class="text-warning">Customer Name : </strong>@Model.First().FirstName @Model.First().LastName</div>
    </div>
    <div class="d-flex align-items-center flex-column justify-content-center">
        <div class="">
            <strong class="text-warning">Order Number : </strong>@Model.First().OrderId
        </div>

        <div class="text-center">
            <strong class="text-warning"><h5>@Model.First().LocationName (Location @Model.First().LocationId)</h5></strong>
        </div>
        <div class="text-muted"><em>Order placed on @Model.First().OrderDate</em></div>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Purchased.First().ProductId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Purchased.First().ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Purchased.First().ProductDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Purchased.First().Quantity)
            </th>
        </tr>
    </thead>
    <tbody>
    @foreach (var purchase in Model.First().Purchased)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => purchase.ProductId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => purchase.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => purchase.ProductDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => purchase.Quantity)
            </td>
        </tr>
    }
    </tbody>
</table>
